# Python
*.pyc
__pycache__/
env/
venv/
*.sqlite3

# Django
/staticfiles/
db.sqlite3

# VS Code, MacOS, etc
.DS_Store

# Environment & secrets
.env
key.text

# Database
db.sqlite3

# Logs
logs/*.log

# Collected static files
staticfiles/
