{% extends 'users/base.html' %}

{% block title %}Student Dashboard{% endblock %}

{% block content %}
<div class="card" style="max-width: 1000px;">
    <h2><i class="fas fa-user-graduate"></i> Welcome, {{ profile.full_name|default:user.username }}!</h2>
    <p>Your Role: <strong>Student</strong></p>

    <div class="dashboard-card">
        <a href="{% url 'browse_tutors' %}" style="text-decoration:none; color: inherit;">
            <i class="fas fa-chalkboard-teacher"></i>
            <h3>Find Tutors</h3>
            <p>Search for tutors</p>
        </a>
    </div>
    <div class="dashboard-card">
        <i class="fas fa-book"></i>
        <h3>View Bookings</h3>
        <p>See your tutor requests and their status.</p>
        <p>
            <a href="{% url 'student_bookings' %}" class="btn btn-primary">
                Open Bookings
            </a>
        </p>
    </div>
    <div class="dashboard-card">
        <i class="fas fa-user-edit"></i>
        <h3>Edit Profile</h3>
        <p><a href="{% url 'profile' %}" class="btn btn-primary">Update Info</a></p>
    </div>
</div>
</div>
{% endblock %}